<%- include('_partials/_header') %>
    <title>Cuenta</title>
    <!-- <link rel="stylesheet" href="../css/account.css"> -->
</head>
<body>
    <%- include('_partials/_nav') %> 
<div class="content">
    <div class="container">
        <h1 class="title">Perfil</h1>
        <div class="contentr">
            <% if (email) { %> 
            <form action="/account/<%= email.idUsuario %>" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Nombres</span>
                        <input id="nombres" type="text" name="nombres" placeholder="Ingresa tu(s) nombre(s)" value="<%= email.nombres %>">
                    </div>
                    <div class="input-box">
                        <span class="details">Primer apellido</span>
                        <input id="apellidoPaterno" type="text" name="apellidoPaterno" placeholder="Ingresa tu primer apellido" value="<%= email.apellidoPaterno %>">
                    </div>
                    <div class="input-box">
                        <span class="details">Segundo apellido</span>
                        <input id="apellidoMaterno" type="text" name="apellidoMaterno" placeholder="Ingresa tu segundo apellido" value="<%= email.apellidoMaterno %>">
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input id="email" type="text" name="email" placeholder="Ingresa tu email" value="<%= email.email %>" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Usuario</span>
                        <input id="usuario" type="text" name="usuario" placeholder="Ingresa un usuario" value="<%= email.usuario %>" required>
                    </div>
                    <div class="input-box">
                    </div>
                    <div class="input-box">
                        <span class="details">Contraseña</span>
                        <input id="contrasena" type="text" name="contrasena" placeholder="Ingresa una contraseña">
                    </div>
                    <div class="input-box">
                        <span class="details">ID</span>
                        <input id="idUsuario" type="text" name="idUsuario" placeholder="Confirma tu contraseña" value="<%= email.idUsuario %>" required>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Guardar cambios">
                </div>
            </form>
            <% } %> 
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (alert) { %>
        <!-- <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script> -->
    <% } %>
<%- include('_partials/_footer') %> 