<%- include('_partials/_header') %> 
    <title>AppThru</title>
  </head>
  <body>
    <div class="center">
      <h1 class="login-h1">Login</h1>
      <form action="/login" method="post">
        <div class="txt_field">
          <input name="email" type="text" required>
          <span></span>
          <label>Usuario / Email</label>
        </div>
        <div class="txt_field">
          <input name="pwd" type="password" required>
          <span></span>
          <label>Contraseña</label>
        </div>
        <input type="submit" value="Login">
        <div class="signup_link">
        </div>
      </form>
    </div>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (alert) { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmButton: <%= showConfirmButton %>,
                timer: <%= timer %>
            }).then(() => {
                window.location = '/<%= ruta %>'
            })
        </script>
    <% } %>
  </body>
</html>