<%- include('_partials/_header.ejs') %> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css"> 
  
<script src="js/productsTable.js"></script>
<title>Productos</title>
</head>
<body>
 


    <%- include('_partials/_nav.ejs') %>
    <div class="content">
    
         <div class="container"> 
            <table class="table" id="tableProducts">
                <!-- <caption>Productos</caption> -->
                <a onclick="addProduct();" style="background-color: rgb(183, 171, 171);">Agregar</a>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Categoria</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (results) { %> 
                        <% for (var i = 0; i < results.length; i++) { %> 
                            <tr>
                                <td><%= results[i].nombreProducto %></td>
                                <td><%= results[i].descripcion %></td>
                                <td><%= results[i].precio %></td>
                                <td><%= results[i].categoria %></td>
                                <td>
                                    <!-- <a href="update/<%= results[i].idProducto %>" class="btn btn-primary"><i class="fas fa-edit"></i> Editar</a> -->
                                    <a onclick="confirmation(<%= results[i].idProducto %>);" ><i class='bx bx-trash'></i></i> Borrar</a>
                                </td>
                        </tr>
                        <% } %>
                    <% }; %>
                    </tbody>
                </table>
                <!-- </div> -->
            </div>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.17/dist/sweetalert2.all.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#tableProducts').DataTable();
                });
            </script>
<%- include('_partials/_footer') %> 